<div ng-controller="MenuCtrl">
    <!--<div id="menuFiches">-->
        <!--<a ng-repeat="fiche in fiches" ui-sref="main.fiche({ id: fiche._id })" ui-sref-active="active">{{-->
            <!--fiche.title }}</a>-->
    <!--</div>-->

    <div id="menuCategories">
        <a ui-sref="main.categorie({ category: 'movie' })" ui-sref-active="active">Films
            <span>[{{ nbMovies }}]</span></a>
        <a ui-sref="main.categorie({ category: 'serie' })" ui-sref-active="active">Séries <span>[{{ nbSeries }}]</span></a>
        <!--<a href="">Fredon <span>[9]</span></a>-->
        <!--<a href="">Tony <span>[16]</span></a>-->
        <!--<a href="">damibironn <span>[13]</span></a>-->
        <!--<a href="">yann <span>[0]</span></a>-->
        <!--<a href="">PleoX <span>[38]</span></a>-->
        <!--<a href="">achille <span>[11]</span></a>-->
        <!--<a href="">bglacial <span>[6]</span></a>-->
        <!--<a href="">tuxor <span>[3]</span></a>-->
    </div>
    <!--<div id="menuCategories">-->
    <!--<a ng-repeat="categorie in categories" ui-sref="main.categorie({ id: categorie.id })">{{ categorie.nom }} <span>[{{ categorie.nbItems }}]</span></a>-->

    <!--<a ui-sref="main.categorie({ id: 1 })">Films 1080p <span>[9]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 2 })">Films 720p <span>[16]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 3 })">Fims DivX <span>[13]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 4 })">Documentaires <span>[0]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 5 })">Séries <span>[38]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 6 })">Musiques <span>[11]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 7 })">Jeux PC <span>[6]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 8 })">Jeux Xbox <span>[3]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 9 })">Jeux PS3 <span>[1]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 10 })">Logiciels <span>[2]</span></a>-->
    <!--<a ui-sref="main.categorie({ id: 0 })">Divers / Non indexés <span>[4]</span></a>-->
    <!--</div>-->
</div>
