<div class="homeSection">
    <h2><a ui-sref="main.categorie({ category: 'movie' })">Films</a></h2>

    <div ng-repeat="fiche in fichesFilm" class="thumbFiche">
        <a ui-sref="main.fiche({ id: fiche._id })">
            <img src="{{ fiche.posterHref }}" alt="" height="150"/>
        </a>
    </div>
</div>

<div class="homeSection">
    <h2><a ui-sref="main.categorie({ category: 'tvseries' })">Séries</a></h2>

    <div ng-repeat="fiche in fichesSerie" class="thumbFiche">
        <a ui-sref="main.fiche({ id: fiche._id })">
            <img src="{{ fiche.posterHref }}" alt="" height="150"/>
        </a>
    </div>
</div>

<div class="clear"></div>